<%- include("./partials/header") %>

<%- include('./partials/navbar') %>

<div class="container justify-center">
  <a href=<%= qrImg %> download>
    <img src=<%= qrImg %> alt="QR Code Image"><br>
  </a>
  <a href="/"><button type="button" class="btn btn-primary">이전</button></a>
  <a href=<%= qrImg %> download>
    <button type="button" class="btn btn-success">다운로드</button>
  </a>

</div>

<%- include("./partials/footer") %>
